@use 'variables';

.progress-bar{
    height: 60vh;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        .outer-circle{
            outline: 1px solid variables.$lightergray;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .inner-circle{
                background-color: variables.$lightergray;
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}