@use 'variables';

main{
    padding: 2rem ;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    h2{
        font-family: monospace;
        font-size: 1.3rem;
        font-weight: 1;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
        .sub{
            &:hover{
                .text{
                    opacity: 1;
                }
            }
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            padding: 2rem;
            background-color: gray;
            z-index: 3;
            clip-path: polygon(51% 0, 100% 26%, 100% 76%, 57% 100%, 0 76%, 0 26%);
            outline: 1px solid gray;
            img{
                width: 9rem;
                height: 9rem;
            }
            .text{
                position: absolute;
                width: 12rem;
                height: 100%;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;   
                background-color:  rgba(22, 166, 180, 0.9);
                transition: all .3s ease-in-out;
                p{
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 1;
                    color: white;
                }
            }
        }
    }
}

@media(max-width:900px){
    // main{
    //     .container{

    //     }
    // }
}