@use 'variables';

.snippet{
    // display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // overflow-y: auto;
    .container{
        display: flex;
        // align-items: center;
        justify-content: center;
        h3{
            text-align: center;
        }
        .sob{
            overflow: auto;
            border-radius: 5px;
            width: max-content;
            padding: 2rem;
            background-color: variables.$snipBlk;
            h3{
                font-size: 2rem;
                color: variables.$white;
            }
            .snip{
                color: variables.$babyBlue;
                font-size: 1.5rem;
                text-align: none;
            }
        }
    }
}